*
{
	margin:0px auto;
	font-family:"宋体";
	color:#222;
	padding:0px;
 	list-style:none;
	line-height:26px;
	font-size:16px;
}
a{
	list-style:none;
	line-height:16px;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
/*页头部分*/
.body{
	background-color:rgb(242,239,237);
}
.header{
	width:100%;
	background:url(../images/banner.gif);
	height:600px;
	text-align:center;
}
.logo{
	width:100px;
	height:100px;
	position:absolute;
	left:140px;
	top:20px;
}
.header_list
{
	width:800px;
	height:40px;
	text-align:center;
	padding-left:60px;
	border-bottom:2px solid rgb(48,101,22);
	padding-top:60px;
}
.head_list a
{
	width:100px;
	height:33px;
	float:left;
	padding-top:8px;
	padding-left:5px;
	text-align:center;
	border:1px solid rgb(48,101,22);
	display:block;
}
.head_list a:hover
{
	background-color:rgb(48,101,22);
	color:#fff;
}
.head_list a
{
	width:70px;
	display:block;
}
.head_list a
{
	float:left;
	text-align:center;
	font:bolder 16px "楷体";
	color:#222;
	width:100px;
}
.nav_search{
	width:200px;
	border:2px solid rgb(48,101,22);
	position:absolute;
	left:970px;
	top:40px;
}
.search{
	float:left;
	width:140px;
	height:30px;
	border:1px solid #fff;
	background-color:#f8f5ee;
}
.search_btn{
	float:right;
	width:50px;
	height:29px;
	background-color:rgb(175,179,182);
	border:2px solid #ccc;
	color:#F00;}
	h3{
		border:solid 0px #f00;
		padding:0px;
		text-align:center;
	background:url(../images/list1.gif);
	height:60px;
	line-height:60px;
	}
	h2{
		border:solid 0px #f00;
		padding:0px;
		text-align:center;
	height:60px;
	line-height:60px;
	}

/*内容部分*/
#content{
	width:1000px;
	height:710px;
border:1px solid #ccc;
}
#left{
	border:1px solid #ccc;
	width:690px;
	height:700px;
	float:left;
}
.topname{
	text-align:right;
	font-size:35px;
	font-weight:bolder;
	display:block;
	float:right;
	padding-top:40px;
	padding-right:80px;
}

.left_head{
	width:690px;
	height:100px;
	border:1px solid #ccc;
	background:url(../images/con3.gif);
}
.left_body{
	width:690px;
	height:300px;
	border:1px solid #ccc;
}
.left_body_a ul li
{
	list-style:disc;
	line-height:16px;
	font-size:12px;
	font-style:bold;
}
.left_bottom{
	width:690px;
	height:300px;
	border:0px solid #ccc;

}
.bottom_left ul li
{
	width:170px;
	list-style:circle;
}
.bottom_left{
	padding-top:0px;
	width:206px;
	height:300px;
	border:0px solid #ccc;
	float:left;
	background:rgb(242,239,237) url(../images/lefttop.jpg) repeat center;
}
.left_body_a
{
	float:left;
	height:262px;
	width:227px;
	border-left:3px solid #ccc;
	padding:15px 0px;
	background:rgb(242,239,237) url(../images/lista.jpg) repeat center;

}
.left_body_a ul li
{
	width:190px;
}
.left_body_a ul li a:hover
{

background-color:rgb(152,184,235);

}
.left_body_a ul li a
{
	font-size:16px;
	line-height:24px;
}
.bottom_right{
	padding-top:0px;
	width:480px;
	height:300px;
	border:1px solid #ccc;
	float:right;
	background:rgb(242,239,237) url(../images/listc.jpg) repeat center;
}
.bottom_right ul li a:hover
{

background-color:rgb(152,184,235);
}
.bottom_left ul li a:hover
{

background-color:rgb(152,184,235);
}
#right{
	border:2px solid #ccc;
	width:295px;
	height:700px;
	float:right;
}
.bottom_right_a{
	width:296px;
	height:230px;
	border:1px solid #ccc;
	background:rgb(242,239,237) url(../images/conc.jpg) repeat center;
}
.bottom_right_aa
{
	border:0px solid #f00;
	width:290px;
	height:60px;
}
.bottom_right_a ul li
{
	list-style:disc;
	width:420px;}
.bottom_right_a ul li a:hover
{
background-color:rgb(165,205,241);
}
.bottom_right_a ul li a
{
	
	font-size:16px;
	line-height:4px;
}
.bottom_right_a ul li
{
	list-style:disc;
	width:240px;
}
.bottom_right_right{

	width:200px;
	height:162px;
	border:0px solid #f00;
	padding-top:6px;
	padding-left:1px;
}
/*页脚部分*/
.footer
{
	width:99%;
	height:100px;
	border:1px solid #ccc;
	background-color:rgb(174,174,176);
	clear:both;
}
.footer_ul ul li
{
	float:left;
	padding:5px;
}
.footer_ul h6
{
	text-align:center;
	font-weight:bold;
	color:#fff;
}
.footer_ul
{
	padding-left:390px;
}
.footer_h h6
{
	border-top:2px solid #999;
	font-size:12px;
	text-align:center;
	margin:0px auto;
	clear:both;
	color:#fff;
}
